doctype html
html(ng-app='router')
head
    meta(charset='utf-8')
    title Leaflet Router
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    //
       Place favicon.ico and apple-touch-icon.png in the root directory 
    //
       build:css styles/vendor.css 
    //
       bower:css 
    //
       endbower 
    //
       endbuild 
    //
       build:css styles/main.css 
    link(rel='stylesheet', href='styles/main.css')
    link(rel='stylesheet', href='./bower_components/leaflet/dist/leaflet.css')
    link(rel='stylesheet', href='./bower_components/leaflet-routing-machine/dist/leaflet-routing-machine.css')
    //
       endbuild 
    //
       build:js scripts/vendor/modernizr.js 
  body(ng-controller='RouterController as router')
    //if lt IE 10
      p.browsehappy
        | You are using an
        strong outdated
        | browser. Please
        a(href='http://browsehappy.com/') upgrade your browser
        | to improve your experience.
    .container
      #map
    //
       build:js scripts/vendor.js 
    //
    script(src='bower_components/modernizr/modernizr.js')
    script(src='./bower_components/angular/angular.min.js')
    script(src='./bower_components/leaflet/dist/leaflet.js')
    script(src='./bower_components/leaflet-routing-machine/dist/leaflet-routing-machine.min.js')
    //
       endbower 
    //
       endbuild 
    //
       build:js scripts/main.js 
    script(src='scripts/main.js')
    //
       endbuild 

